<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
     <route id="fgc_nab3d_get_intent" frontName="fgc_nab3d_get_intent">
        <module name="Fgc_NabEvm3D" />
    </route>
  </router>
</config>
